
<div class="about-container">
	<h5 class="editable">about Lee</h5>
	<div class="client-image-container">
	<img src="{{site.data.settings.images.client_headshot_path }}" alt="{{site.data.settings.client.company}}" class="client-image editable" />
	</div><br />
	<p class="editable">Lee Yousef is a top producing Calgary luxury real estate specialist, with an extensive background in economics and custom home construction. Recipient of the coveted SAM Award in his first year of business, Lee's accomplishments in real estate speak for themselves. Over the past 15 years, he has owned and operated a custom home building company overseeing every aspect of the building process, including Interior Design, Architecture, and Construction.</p>
	<p class="editable">He also served as Area Sales Manager for a large volume builder for eight years during which he successfully generated over $150 million in new home sales. To Lee, success is about going above and beyond for his clients; defying their wildest expectations, while helping them achieve professional results.</p>
	<p class="editable">
		<b>{{ site.data.settings.client.name }}</b><br />
		{{ site.data.settings.client.brand }}<br />
		{{ site.data.settings.client.address }}<br />
		{{ site.data.settings.client.phone }}<br />
		<a href="mailto:{{ site.data.settings.client.email }}" target="_blank">{{ site.data.settings.client.email }}</a><br />
		<a href="http://{{ site.data.settings.client.url }}" target="_blank">{{ site.data.settings.client.url }}</a><br />
	</p>
</div>
