//For individual theme fixes. You know all about it.
$dark-theme: #2F2F2F

body
	background: $dark-theme
	color: $light-text

.navbar-andross
	background: $dark-theme

.testimonial-container
	background: lighten($dark-theme, 10%)

.testimonial-navigation
	h3
		color: $light-text

footer
	background: $dark-theme
	color: $light-text

.site-logo
	max-width: 60rem
	margin-top: $nav-height + 8rem
